*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 1000px;
    width: 700px;
    background-color: white;
    margin: 50px auto;
}
html{
    background-color: skyblue;
}
#a{
    height: 100px;
    width: 680px;
    background-color: rgba(26, 23, 23, 0.884);
    margin: 10px;
    border-top: 10px solid white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
#b{
    height: 100px;
    width: 680px;
    background-color: rgba(26, 23, 23, 0.884);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
#a1{
    height: 100px;
    width: 50%;
    background-image: url(5.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 30% 100%;
    float: left;
}
#a2{
    height: 100px;
    width: 50%;
    float: right;
    color: orange;
    font-size: 25px;
    font-family: Lucida Sans Unicode;
}
#h1{
    padding-top: 10px;
    padding-right: 40px;
}
table{
    list-style-type: none;
    color: gainsboro;
    font-size: 10px;
    font-family: Lucida Sans Unicode;
    padding-left: 10px;
}
#idd input[type="number"]{
       background-color: rgba(26, 23, 23, 0.884);
       border: 1px solid rgba(24, 20, 20, 0.884);
       color: white;
}
input[type="email"]{
    background-color: rgba(26, 23, 23, 0.884);
    border: 1px solid rgba(24, 20, 20, 0.884);
    color: white;
}
#b1{
    height: 100%;
    width: 50%;
    float: left;
}
#b2{
    height: 100%;
    width: 50%;
    float: right;
}
#tab1 {
    padding-top: 33px;
}
input[type="date"]{
    background-color: rgba(26, 23, 23, 0.884);
    border: 1px solid rgba(24, 20, 20, 0.884);
    color: white;
    height: 15px;
}
input[type="text"]{
    background-color: rgba(26, 23, 23, 0.884);
    border: 1px solid rgba(24, 20, 20, 0.884);
    color: white;
}
#c{
    height: 130px;
    width: 700px;
    margin-top: 10px;
    background-color: white;
}
#tab2 th{
    width: 680px;
    background-color: orange;
    text-align: left;
    color: black;
    font-size: 15px;
    padding-left: none;
}
#tab2 td{
    width: 680px;
    background-color: gainsboro;
    text-align: left;
    color: black;
    font-size: 15px;
}
#txt{
    width: 500px;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    color: black;
}
#num{
    width: 500px;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    color: black;
}
#d{
    height:240px ;
    width: 700px;
    margin-top: 10px;
    background-color: white;
}
table th{
    width: 134px;
    background-color: orange;
    font-size: 15px;
    color: black;
}
#tab4 input[type="text"],input[type="number"]{
    width: 132px;
    background-color: gainsboro;
    border: 1px solid gainsboro;
    color: black;
    
}
.i input[type="number"]{
    background-color: orange;
    border: 1px solid orange;
}
#e{
    height: 200px;
    width: 680px;
    margin: 10px;
    margin-top: 20px;
    background-color: green;
}
#e1{
    height: 200px;
    width: 340px;
    background-color: white;
    float: left;
}
#e2{
    height: 200px;
    width: 340px;
    background-color: white;
    float: right;
}
p{
    padding-left: 10px;
}
.t10{
    padding-left: 10px;
    font-size: 12px;
    color: black;
}
.t10 input[type="number"]{
    background-color: orange;
    border: 1px solid orange;
}